$mainColor: #E50068;
$lightGreyColor: #F4F4F4;
$semiLightGreyColor: #F6F6F6;
$greyColor: #3C3C3C;

$lightBlackColor: #3C3C3C;
$semiBlackColor: #555555;

$baseFont: 'Comfortaa', cursive;
$basetBoldFw: 700;
$secondFont: 'Montserrat', sans-serif;
$secondFontBoldFw: 600;

$path: '../img/';